


article{
	background-clip: padding-box;
    border: 30px;
    
    padding: 20px;
    border-style: solid;
    border-color:  #00e4d55d;
    font-size: larger;
    background-color: #ffffffbb;
}


fieldset.F1 div {
	display:flex;
	
}
fieldset.F1 label{
	font-size: 150%;
	margin: 5px 5px;
}

fieldset.F1 div{
	margin : 5px 5px;
}


#animation{
	position : relative;
	width: 100px;
	height: 100px;
	background: red;
	animation: mymove 10s infinite;
	margin-bottom: 10px;
}


@keyframes mymove {
  0%{top: 0px; left : -35%;}
  50%{top: 0px; left: 35%;}
  100%{top: 0px; left : -35%;}
  
}