@font-face {
    font-family: "SLANT";
    src: url(asset/SLANT.TTF);
}

@media(min-width: 321px) and (max-width: 799px){ /*Smartphones*/

}

@media(min-width: 800px) and (max-width: 966px){ /*Tablettes */
    
}

body {
    /*background-color: #f8ee00;*/
}

h1 {
    font-family: "SLANT";
    font-size: 50px;
    color: #f8ee00;
}




.overlay-image {
    position: relative;
    
}

.overlay-image .image {
    display: inline;
    width: 300px;
    height: 300px;
}

.overlay-image .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
}

.overlay-image .image2, .overlay-image .image3 {
    height: 120%;
    width: 120%;
}
   
.overlay-image:hover .hover {
    opacity: 1;
}

.overlay-image .hover2 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
}

.overlay-image:hover .hover2 {
    opacity: 1;
}

.image2:hover {
    display: block;
    position: absolute;
    float: left;
    box-shadow: -1px 2px 70px 3px rgba(236, 8, 236, 0.7);
    line-height: 1px;
}