.block1 > p
{
	border: 5px solid black;
}
.block1{
	width: 100%;
}

.b1{
	display: block;
	text-align:center;
	font-size : 100%;
}


h1
{
	font-size : 200%;
	text-decoration: none;
	background: linear-gradient(90deg,#00e4d5,#3942c6);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}
.oui > a
{
	display:inline;
	width:550px;
}
.oui{
	text-align:center;
	font-size: 150%;
	margin-top: 5%;
	margin-bottom: 2%;
	text-decoration: none;
	color:blue;
}
.oui:hover
{
	background: linear-gradient(90deg,#00e4d5,#3942c6);
	
}
article.mainTexte{
	display: flex;
	border-radius :10px;
	font-size:150%;
	flex-grow: 2;
	min-width: 50%;
}
aside{
	position : relative;
	animation: mymove 15s infinite;
}
@keyframes mymove {
  0%{top: 0px;}
  33%{top: 5vh;}
  66%{top: -5vh; }
  100%{top:0px;} 
}

aside.mainTexte{
	display: flex;
	font-size:150%;
	background-color: rgba(255,255,255, 0.7);
	border-radius :10px;
	flex-grow: 1;
	min-width: 25%;
}

main {
	display : flex;
	justify-content: center;
	
	flex-direction: row;
	width:70%;
}



aside img
{
	max-width: 100%;
	object-fit: contain;
}
.texte
{
	display:block;
	text-align: justify;
 	text-justify: space-around;
 	font-size: 80%;
}

.nom-metier
{
	color : red;
	font-size: 100%;
}

@media(max-width:768px){
	aside.mainTexte {
		display: none;
	}
	h1{
		font-size : 7vw;
	}
	.oui a{
		font-size : 6vw;
	}
	main{
		width: auto;
	}

	.block1 .oui{
		margin-top : 10vw;
		margin-bottom: 10vw;
	}
	.oui a{
		font-size: 60%;
	}
}