main article{
    margin: 10px 0;
    background-clip: padding-box;
    border: 15px;
    padding: 10px;
    border-style: solid;
    border-color:  #00e4d55d;
    background-color: #ffffffbb;
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
ul{
    padding-inline-start: 20px;
}

ul li{
    color: black;
    margin: 20px 0px;
}

article h3{
    margin: 0;
}
/*--Le Bon Graal--*/

.graal {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.graal-corps {
    display: flex;
    flex: 1;
}

.graal-contenu {
    flex: 1;
}

.graal-nav,
.graal-pub {
	flex: 0 0 12em;
	max-width: 300px;
}

.graal-nav {
    order: -1;
}

main.graal-contenu{
    margin: 0px 50px;
    border: 15px;
    padding: 10px;
}
div.Foire{
    margin: 0px 50px;
    background-clip: padding-box;
    border: 15px;
    padding: 10px;
    border-style: solid;
    border-color:  #00e4d55d;
    background-color: #ffffffbb;
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
article.graal-nav{
    background-clip: padding-box;
    border: 15px;
    padding: 10px;
    border-style: solid;
    border-color:  #00e4d55d;
    font-size: large;
    background-color: #ffffffbb;
}
aside.graal-pub{
    background-clip: padding-box;
    border: 15px;
    padding: 10px;
    border-style: solid;
    border-color:  #00e4d55d;
    font-size: large;
    background-color: #ffffffbb;
}
.graal-nav a{
    filter: drop-shadow(1px 1px 1px #000000);
}

h1#entete {
    font-family: "Exo-Regular";
    font-size: 1.8em;
}

/*--Fin Graal--*/


@media(max-width:768px){
    .graal-nav, .graal-pub {display: none;}
}