main article{
    margin: 10px 0;
    background-clip: padding-box;
    border: 15px;
    padding: 10px;
    border-style: solid;
    border-color:  #00e4d55d;
    background-color: #ffffffbb;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

article h3{
    margin: 0;
}

section{
    display: flex;
    flex-direction: row;
}
section:nth-child(even){
    flex-direction: row-reverse;
}
section:nth-child(odd) article:last-child{
    margin-left: 20px;
}
section:not(:first-of-type):nth-child(even) article:first-child{
    margin-left: 20px;
}
section:first-of-type article img{
    float: left;
    width:20vw;
    shape-outside: ellipse();
}
section:first-of-type article {
    display: block;
}
h2{
    font-weight: bold;
    font-size: 1.75vw;
    text-align: center;
}
h2 span{
    margin: 0;
    display: block;
}
h2 a{
    font-size: 4vw;
}

/*--Fin Graal--*/


@media(max-width:768px){
    main article{width: auto;}
    h1{font-size: 2em;}
    h2{font-size: 1.5em;}
    section , section:nth-child(even) {flex-direction: column-reverse;}
    section:nth-child(odd) article:last-child, 
    section:not(:first-of-type):nth-child(even) article:first-child{margin-left: 0;}
    section:first-of-type article {display: flex;}
    section:first-of-type article img{width: 35vw;}

}