body{
    min-height: 140vh;
}

.overlay-image {
    position: relative;
    display: inline-block;
    padding-left: 50px;
    max-width: 15vw;
    max-height: 15vw;
}

.overlay-image .image {
    display: inline;
    width: 15vw;
    height: 15vw;
}

.overlay-image .hover {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
    /*box-shadow: -1px 2px 70px 3px rgba(236, 8, 236, 0.7);*/
}
   
.overlay-image:hover .hover {
    opacity: 1;
}

.overlay-image .hover2 {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
}

.overlay-image:hover .hover2 {
    opacity: 1;
}

.image3:hover {
    display: block;
    position: absolute;
    float: left;
    line-height: 1px;
}

.image2, .image3, .hover, .hover2{
    height: 14vw;
    width: 14vw;
}

.hover, .hover2{
    top: 11px;
    right: 9.6px;
}

/* Layout */
@media(max-width: 480px) { /*Smartphone*/
    .overlay-image {
        display: block;   
    }
}

@media(max-width: 768px){ /*Tablettes*/
    .A, .B, .C, .D, .E, .F{
        display: inline
    }
    .overlay-image{
        position: absolute;
    }
    .A{
        right: 42%;
    }
    
    .B{
        right: 69%;
        top: 40%;
    }
    
    .C{
        right: 15%;
        top: 40%;
    }
    
    .D{
        right: 60%;
        bottom: -15%
    }
    
    .E{
        right: 25%;
        bottom: -15%    
    }
    
    .F{
        position: absolute;
        right: 42.5%;
        top: 65%;
    }
    .overlay-image .image{
        height: ;
    }
}

@media(max-width: 992px){ /*Ordinateur*/
    
}