fieldset {
	padding: 10px 0px;
	border: 5px solid black;
	text-align:center;
	font-size:2vh;
	display:inline;
}
#grp1 fieldset {
	min-height: 420px;
	flex-basis: 0;
	flex: 1;
}
h1{
	font-size:50px;
}
textarea{
	resize: inherit;
	height: 320px;
}
.mainTexte {
	width: 100%;
}
.envoyer{
	width:30%;
	min-width: 100px;
	display: block;
	margin-left: auto;
    margin-right: auto;
	height:50px;
}	
#grp1{
	display: flex;
	width: 100%;
	margin-bottom: 10px;
	justify-content: stretch;
	align-items: stretch;
}
#grp2{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: stretch;
	justify-content: center;
}
#grp2 fieldset:last-child{
	margin: 10px 0px;
}
#grp1 .input2 .input-objet{
	flex: 1;
}

/* --------Input Add-Ons-------- */
.input, .input2 {
	position: relative;
	display: flex;
	margin: 0em 1.25em;
	margin-bottom: 1.5em;
	height: auto;
	min-height: 45px;
}
fieldset > :nth-child(2){
	margin-top: 1.5em;
}

.input-champ {
	flex: 1;
	width: auto;
	min-width: 0px;
}

.input-champ:not(:first-child) {
	border-left: 0;
}

.input-champ:not(:last-child) {
	border-right: 0;
}

.input-objet {
	background-color: rgba(100, 88, 74, 0.1);
	color: #444444;
	font: inherit;
	font-weight: normal;
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.input2 .input-objet{
	display: inline-flex;
	align-items: center;
}

.input-champ, .input-objet {
	border: 1px solid rgba(58, 50, 43, 0.25);
	padding: 0.5em 0.75em;
}

.input-champ:first-child, .input-objet:first-child {
	border-radius: 2px 0 0 2px;
}

.input-champ:last-child, .input-objet:last-child {
	border-radius: 0 2px 2px 0;
}
/* --------Input Add-Ons-------- */
/* --------Custom Radio-------- */
.custom-checkmark{
	border-radius: 2px 0 0 2px;
	height: 45px;
	width: 45px;
	background-color: #eee;
	margin: 0px;
}
.custom-checkmark:checked{
	background-color: aqua;
}
@media(max-width:768px){
	#grp1 fieldset, #grp2 fieldset{
		min-height: 0px;
		min-width: 95%;
		width: 95%;
		font-size: 2.5vh;
	}
	#grp1 {
		flex-direction: column;
	}
	#grp1 fieldset:first-child{
		margin-bottom: 10px;
	}
	textarea{
		height: 320px;
	}
	.input {
		flex-direction: column;
	}
	.custom-checkmark {
		height: 50.5px;
		width: 50.5px;
	}
	.mainTexte{
		width: 70%;
	}
	.input-objet{
		font-size: larger;
	}
}