main article, address{
    margin: 10px 0;
    background-clip: padding-box;
    border: 15px;
    padding: 10px;
    border-style: solid;
    border-color:  #00e4d55d;
    background-color: #ffffffbb;
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
ul{
    padding-inline-start: 20px;
}

article h3{
    margin: 0;
}


article:nth-child(odd) h3{
    padding: 10px 0px;
	border: 2px solid black;	
	width:100%;
	font-size:30px;
	background-color:rgba(44, 233, 144, 0.4);
    color:white;
    text-align: center;
}

article:nth-child(even) h3{
    padding: 10px 0px;
	border: 2px solid black;	
	width:100%;
	font-size:30px;
	background-color:rgba(57, 212, 233, 0.4);
    color:white;
    text-align: center;
}


.pub{
	max-width: 50px;
	max-height: 50px;
}

/*--Le Bon Graal--*/

.graal {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.graal-corps {
    display: flex;
    flex: 1;
}

.graal-contenu {
    flex: 1;
}

.graal-nav,
.graal-pub {
	flex: 0 0 12em;
	max-width: 300px;
}

.graal-nav {
    order: -1;
}

.graal-contenu{
    margin: 0px 50px;
}
.graal-nav{
    background-clip: padding-box;
    border: 15px;
    padding: 10px;
    border-style: solid;
    border-color:  #00e4d55d;
    font-size: large;
    background-color: #ffffffbb;
}
.graal-pub{
    background-clip: padding-box;
    border: 15px;
    padding: 10px;
    border-style: solid;
    border-color:  #00e4d55d;
    font-size: large;
    background-color: #ffffffbb;
}
.graal-nav a{
    filter: drop-shadow(1px 1px 1px #000000);
}



/*--Fin Graal--*/



@media(max-width:768px){
    .graal-nav, .graal-pub {display: none;}
}