@keyframes Fade {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}

@keyframes Fade {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

main > div {
    margin-top: 1vw;
    width: 120%;
}

div.questions {
    display:flex;
    border-bottom: 0.15vw solid white;
}

div.reponses {
    margin-top: 1vw;
    display:flex;
    flex-direction: column;
}

div.encadre {
    margin-bottom: 7mm;
}

div.encadre article {
    border: 5px ridge black;
    background-color: rgba(255,255,255, 0.5);
    padding: 0.8vw 0.5vw 0.8vw 0.5vw;
    margin-top: 1.05px;
    display: flex;
}

div.encadre article h1 {
    font-family: "Exo-Regular";
}

div.encadre article h1.entete {
    font-family: "Exo-Regular";
}

div.corps article {
    margin-top: 1.04vw;
    position: static;
    display:block;
}

div.corps article div h2 {
    border: 5px ridge black;
    background-color: rgba(255,255,255, 0.5);
    padding: 0.8vw 0.5vw 0.8vw 0.5vw;
    margin-top: 1.05vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center ;
    position:static;
    font-family: "Exo-Regular";
}


div.corps>article>div {
    margin-bottom:1.5vw;
}

div.corps>article>div div{
    margin-top:-1.05vw;
}

div.corps div h4{
    border: 5px ridge black;
    border-top: 0vw;
    background-color: rgba(255, 240, 152, 0.5);
    margin-top: 0vw;
    margin-bottom:1.4vw;
    padding: 0.8vw 0.5vw 0.8vw 0.5vw;
    display: block;
    visibility: hidden;
    position: static;
}

div.corps div h2:hover+div h4,div.corps div h2+div h4:hover{
    visibility: visible;
}

div.corps div h2:hover {
    background: linear-gradient(0deg, #00c5ff, #f200ff, #00ff91, #ffa154);
    background-size: 800% 800%;
    animation: Fade 10s ease infinite;
    transition: goldenrod 1s;
    
}


div.corps div h2+div h4:hover{
    display: block;
}


div a.Q {
    border-bottom: 2px ridge goldenrod;
    border-spacing: 50px;
    display: inline;
}

div a:visited.Q{
    color: blueviolet;
}

div a:hover.Q{
    color: green;
}

ul li{
    color: black;
}

#souligne{
    text-decoration: underline;
}


/*-----Collapsible sa mère-----*/

.accordeon > input[name="collapse"] {
    display: none;
  }

.accordeon .reponse {
    overflow: hidden;
    height:auto;
    max-height:0;
    transition: 0.4s;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.accordeon label {
    color:black;
    cursor: pointer;
    padding: 10px;
    border-color:#00e4d55d;
    border-style: solid;
    background: #00c0b35d;
    display:block;
}

.accordeon label:hover {
    background: linear-gradient(180deg, #00c0b3, #ffffff, #ff8df6);
    background-size: 600% 600%;
    animation: Fade 3s ease infinite;
    border-color: black;
}

.accordeon .question label:before {
    font-family: "Exo-Regular";
    font-size: larger;
    content: "^";
    display: inline-block;
    margin-right: 10px;
    font-size: 1em;
    line-height: 1.556em;
    vertical-align: middle;
    transition: 0.4s;
}

.accordeon > input[name="collapse"]:checked ~ .question label:before {
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.4s;
}

.accordeon > input[name="collapse"]:checked ~ .question label{
    background: linear-gradient(180deg, #00c0b3, #ffffff, #ff8df6);
    background-size: 600% 600%;
    animation: Fade 3s ease infinite;
    border-color: black;
}

.accordeon > input[name="collapse"]:checked ~ .reponse {
    max-height: 10vw;
    transition: max-height 0.5s;
}

div.reponse {
    margin-top: -1.445vw;
    border-style: solid;
    border-color: black;
    border-top: 0;
    background-color: #ffffffbb;
}

div.reponse>p {
    padding: 1vw 1vw 1vw 1vw;
    text-align: justify;
    
}

div.reponse a{
    color: blue;
}

div.reponse a:hover{
    color: lime;
}

div.reponse a:visited{
    color: purple;
}