@font-face{
    font-family: "nasalization-rg";
    src: url(asset/nasalization-rg.ttf);
}
@font-face{
    font-family: "Exo-Regular";
    src: url(asset/Exo-Regular.ttf);
}
@font-face{
    font-family: "birdman";
    src: url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
}
html {
    height: 100%;
}
header{
    margin: 25px 0px;
    background-color: #56fff46b;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
h1 {
    color: #FFFFFF;
    font-family: "Downlink";
    font-size: 50px;
}
main {
    flex: 1 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Exo-Regular";
    font-size: larger;
}
footer{
    margin: 25px 0px 25px 0px;
    background-color: #00c0b35d;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    font-family: "Exo-Regular";
}
nav {
    margin: 20px 20px 20px 0px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
nav > div {
    width: 14%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
nav a {
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 2vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    filter: drop-shadow(2px 2px 4px #000000);
}
footer a{
    display: inline;
    font-size: 2vw;
    margin: 10px 0px 20px 0px;
    filter: drop-shadow(2px 2px 4px #000000);
}
a {
    color: #c7ffdf;
    font-family: "nasalization-rg";
}
a:hover {
    color: #fdffbe;
}
.submenu {
    z-index: 0;
    pointer-events: auto;
    display: none;
    position: absolute;
    top: 0.1vw;
    left: 0px;
    width: 100%;
    margin: auto;
}
.submenu a{
    margin: auto;
}
.rejoindre{
    z-index: 30;
}
div:hover > .submenu {
    display: inline;
    padding-top: 2.5vw;
}
body{
    min-height: 99vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(asset/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
#accueil{
    width: 13vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0px 25px 25px;
}
#logo{
    max-width: 100%;
    filter:  invert(99%) sepia(56%) saturate(642%) hue-rotate(66deg) brightness(100%) contrast(102%) drop-shadow(2px 2px 4px #000000);
    object-fit: contain;
}
#logo:hover{
    filter:  invert(98%) sepia(75%) saturate(743%) hue-rotate(322deg) brightness(110%) contrast(102%) drop-shadow(2px 2px 4px #000000);
}
.burger{
    display: none;
}
.mainTexte {
    background-clip: padding-box;
    border: 30px;
    padding: 20px;
    border-style: solid;
    border-color:  #00e4d55d;
    font-size: larger;
    background-color: #ffffffbb;
    text-align: center;
}
.footerTexte{
    margin: 10px;
    padding: 10px;
    font-size: larger;
    background-color: #ffffffbb;
    text-align: center;
}
.footerTexte p{
    margin: 5px;
}

@media(max-width:768px){
    main{
        width: 95%;
    }
    header {
        flex-direction: column;
    }
    nav{
        flex-wrap: wrap;
        justify-content: center;
    }
    nav a {
        font-size: 3.25vw;
    }
    nav div {
        min-width: 145px;
    }
    #logo{
        width: 100%;
        object-fit: contain;
        margin: 0px;
    }
    #accueil{
        min-width: 190px;
        width: 25%;
        margin: 25px;
    }
    div:hover > .submenu{
        padding-top: 3.5vw;
    }
}
@media(max-width:480px){
    .burger #menu2{
        display: none;
    }
    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .burger img {
        width: 75px;
    }
    .burger:hover #menu2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    #menu2 div a{
        text-align: center;
        font-size: 50px;
        filter: drop-shadow(2px 2px 4px #000000);
    }
    nav {
        display: none;
    }
}
/*@media(max-width:168px){
    body *{display: none;}
    aside {display: inline;}
    .facts {display: inline;}
    .facts *{display: inline;}
}
@media(min-width:768px){
    .burger {display:none;}
}*/