body{
    min-height: 140vh;
}

.overlay-image {
    position: absolute;
    display: inline-block;
    max-width: 15vw;
    max-height: 15vw;
}

.overlay-image .image {
    display: inline;
    width: 15vw;
    height: 15vw;
}

.overlay-image .hover {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
    /*box-shadow: -1px 2px 70px 3px rgba(236, 8, 236, 0.7);*/
}
   
.overlay-image:hover .hover {
    opacity: 1;
}

.overlay-image .hover2 {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
}

.overlay-image:hover .hover2 {
    opacity: 1;
}

.image3:hover {
    display: block;
    position: absolute;
    float: left;
    line-height: 1px;
}

.image2, .image3, .hover, .hover2{
    height: 14.2vw;
    width: 14.2vw;
}

.hover, .hover2{
    top: 9px;
    right: 7.5px;
}

/* Layout */
.A{
    right: 42%;
}

.B{
    right: 69%;
    top: 40%;
}

.C{
    right: 15%;
    top: 40%;
}

.D{
    right: 60%;
    bottom: -15%;
}

.E{
    right: 25%;
    bottom: -15%;
}

.F{
    position: absolute;
    right: 39%;
    top: 65%;
}

@media(max-width: 480px) { /*Smartphone*/

}

@media(max-width: 768px){ /*Tablettes*/
    .A, .B, .C, .D, .E, .F{
        position: relative;
        top: 0px;
        bottom: 0px;
        right: 0px;
        max-width: 50vw;
        max-height: 50vw;
    }
    .overlay-image .image{
        width: 50vw;
        height: 50vw;
    }
    .image2, .image3, .hover, .hover2{
        height: 47vw;
        width: 47vw;
    }
    .hover, .hover2{
        top: 12.5px;
        right: 11px;
    }
}

@media(max-width: 992px){ /*Ordinateur*/
    
}