@keyframes Fade {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}

@keyframes Fade {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

/*--Le Bon Graal--*/

.graal {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.graal-corps {
    display: flex;
    flex: 1;
}

.graal-contenu {
    flex: 1;
}

.graal-nav,
.graal-pub {
    flex: 0 0 12em;
}

.graal-nav {
    order: -1;
}

main.graal-contenu, 
aside.graal-pub, 
article.graal-nav {
    background-color: #ffffffbb;
    border-style: solid;
    border-color: black;
}

/*--Fin Graal--*/

div.questions {
    display:flex;
    border-bottom: 0.15vw solid white;
}

div.reponses {
    margin-top: 1vw;
    display:flex;
    flex-direction: column;
}

div.encadre {
    margin-bottom: 7mm;
}

div.encadre article {
    border: 5px ridge black;
    background-color: rgba(255,255,255, 0.5);
    padding: 0.8vw 0.5vw 0.8vw 0.5vw;
    margin-top: 1.05px;
    display: flex;
}

div.encadre article h1 {
    font-family: "Exo-Regular";
}

div.encadre article h1.entete {
    font-family: "Exo-Regular";
}

div a.Q {
    border-bottom: 2px ridge goldenrod;
    border-spacing: 50px;
    display: inline;
}

div a:visited.Q{
    color: blueviolet;
}

div a:hover.Q{
    color: green;
}

ul li{
    color: black;
}

#souligne{
    text-decoration: underline;
}


/*-----Collapsible sa mère-----*/

.accordeon > input[name="collapse"] {
    display: none;
  }

.accordeon .reponse {
    overflow: hidden;
    height:auto;
    max-height:0;
    transition: 0.4s;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.accordeon h2 {
    width:100%;  
}

.accordeon label {
    color:black;
    cursor: pointer;
    padding: 10px;
    border-color:#00e4d55d;
    border-style: solid;
    background: #00c0b35d;
    display:block;
}

.accordeon label:hover {
    background: linear-gradient(180deg, #bee6e6, #3942c6);
    background-size: 600% 600%;
    animation: Fade 3s ease infinite;
    border-color: black;
}

.accordeon .question label:before {
    font-family: "Exo-Regular";
    font-size: larger;
    content: "^";
    display: inline-block;
    margin-right: 10px;
    font-size: 1em;
    line-height: 1.556em;
    vertical-align: middle;
    transition: 0.4s;
}

.accordeon > input[name="collapse"]:checked ~ .question label:before {
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.4s;
}

.accordeon > input[name="collapse"]:checked ~ .question label{
    background: linear-gradient(180deg, #bee6e6, #3942c6);
    background-size: 600% 600%;
    animation: Fade 3s ease infinite;
    border-color: black;
}

.accordeon > input[name="collapse"]:checked ~ .reponse {
    max-height: 10vw;
    transition: max-height 0.5s;
}

div.reponse {
    margin-top: -1.445vw;
    border-style: solid;
    border-color: black;
    border-top: 0;
    background-color: #ffffffbb;
}

div.reponse>p {
    padding: 1vw 1vw 1vw 1vw;
    text-align: justify;
    
}

div.reponse a{
    color: blue;
}

div.reponse a:hover{
    color: lime;
}

div.reponse a:visited{
    color: purple;
}