h1
{
	border: solid black;
	background: linear-gradient(90deg,#ff8a00,#e52e71);

}
main{
	
	display:flex;
	flex-direction: column;
	align-items:center;

}

form{
	
	display:flex;
	flex-direction: column;
	align-items : center;
}

article 
{
	display:flex;
	flex-direction: column;
}
aside
{
	display:flex;
}
.block1
{
	
	width: 50%;
	background-color: rgba(255,255,255, 0.5);
	text-align:center;
	border-radius : 10px;
	font-size: 150%;


	background-clip: padding-box;
    border: 30px;
    border-bottom:none;
    padding: 20px;
    border-style: solid;
    border-color:  #00e4d55d;
    font-size: larger;
    background-color: #ffffffbb;

}
.all
{
	height: auto;
	display:flex;
	flex-direction:column;
	align-items:center;
	font-size:150%;
	background-color: rgba(255,255,255, 0.7);
	border-radius :10px;

	background-clip: padding-box;
    border: 30px;
    border-top:none;
    padding: 20px;
    border-style: solid;
    border-color:  #00e4d55d;
    font-size: larger;
    background-color: #ffffffbb;
}

.block2
{
	
	display:inline;
	text-align:center;
	padding-bottom:2%;
} 
.block3
{
	display:inline;
	
	text-align:center;
	margin-bottom:2px;
	
}
.block4
{
	display:inline;
	text-align:center;
}
.block5
{
	display: inline;
	text-align : center;
	width:30%;
}
.bouton>input
{
	
	font-size : 150%;
	margin-top : 5%;
	margin-bottom: 2%;
	border-radius:10px;
}
fieldset{
	border:2px solid black;
}
textarea {
	width: 100%;
}