body{
	
	color:black;
	width:100%;
}
main {
	width: 80%;
}
.mainContent{
    background-clip: padding-box;
    border: 30px;
    padding: 20px;
    border-style: solid;
    border-color:  #00e4d55d;
	text-align:center;
    background-color: #ffffffbb;
	display: inline;
}

fieldset {
	padding: 10px 0px;
	border:5px solid black;	
	text-align:center;
	min-height: 420px;
	width: 28vw;
	min-width: 395px;
	font-size:2vh;
	display:inline;
}
h1{
	font-size:50px;
}
cite{
	text-align: center;
	padding: 25px;
}
textarea{
	resize: inherit;
	height: 340px;
}
.envoyer{
	width:10%;
	display: block;
	margin-left: auto;
    margin-right: auto;
	height:30px;
}
p  {
	margin: 0px 0px 0px 0px;
}

/* --------Input Add-Ons-------- */
.input, .input2 {
	position: relative;
	display: flex;
	margin: 0em 1.25em;
	margin-bottom: 1.5em;
	height: auto;
}
fieldset > :nth-child(2){
	margin-top: 1.5em;
}

.input-champ {
	flex: 1;
}

.input-champ:not(:first-child) {
	border-left: 0;
}

.input-champ:not(:last-child) {
	border-right: 0;
}

.input-objet {
	background-color: rgba(100, 88, 74, 0.1);
	color: #444444;
	font: inherit;
	font-weight: normal;
}

.input-champ, .input-objet {
	border: 1px solid rgba(58, 50, 43, 0.25);
	padding: 0.5em 0.75em;
}

.input-champ:first-child, .input-objet:first-child {
	border-radius: 2px 0 0 2px;
}

.input-champ:last-child, .input-objet:last-child {
	border-radius: 0 2px 2px 0;
}
/* --------Input Add-Ons-------- */
/* --------Custom Radio-------- */
.custom-checkmark{
	border-radius: 2px 0 0 2px;
	height: 45px;
	width: 45px;
	background-color: #eee;
	margin: 0px;
}
@media(max-width:768px){
	fieldset{
		min-height: 0px;
	}
	.input {
		flex-direction: column;
	}
}